@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

html::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, rgb(122, 153, 217)),
            color-stop(0.72, rgb(73, 125, 189)),
            color-stop(0.86, rgb(28, 58, 148)));
}

body {
    @apply text-primaryText;
    background-color: #F8F0E5;
    width: 85%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }
}

.input {
    @apply border-black border-2 rounded-md text-primaryText;

}

ul.navbar {
    @apply list-none bg-bg flex flex-row justify-between items-center gap-3 py-2 px-14 rounded-full;
}

ul.navbar li {
    @apply py-0.5 px-2 transition-all duration-300 ease-in-out hover:rounded-3xl hover:px-4 hover:bg-gray-600;
}

ul.navbar li a {
    @apply text-secondaryText text-lg;
}


.btn-primary {
    @apply bg-bg px-4 py-2 rounded-lg text-secondaryText flex w-full mx-auto mt-4 gap-2 justify-center items-center transition duration-300 ease-in-out hover:bg-secondaryText hover:text-bg;
}

img {
    @apply scale-95 transition-all ease-in-out duration-300 hover:scale-100;
}



label {
    @apply text-primaryText font-semibold;
}

input,
textarea {
    @apply outline outline-gray-500 rounded-md px-2 py-1 m-2 text-black;
}

input:focus,
textarea:focus {
    @apply outline-none;
}

.alert {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #242424;
    border-radius: 5px;
    padding: 3rem 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0);
    font-size: 16px;
    text-align: center;
    color: #fafafa;
}